.drafts {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.drafts-list {
  display: flex;
}
.drafts-list__piece {
  & + & {
    margin-left: 30px;
  }
}
.drafts-list__thumb {
  position: relative;
}
.drafts-list__title {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 27px;
  width: 100%;

  font-weight: 500;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}
