.hero {
  margin: 0px auto;
  padding: 118px 0;
  max-width: 480px;
  text-align: center;

  background-color: var(--hero-footer-bgc);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../../images/team-480.jpg');
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}
