.team-list {
  //   display: flex;
}
.team-list__card {
  //   &:nth-child(n + 2) {
  //   margin-left: 30px;
  //   }
}

.team-list__mempost {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 32px;

  background-color: var(--white-color);
}
.team-list__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list__post {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}
.social-links {
  display: flex;
}
.social-links__piece {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-links__link {
  @extend %icon;
  @extend %fill;
  border-radius: 50%;
  color: var(--main-icon);
  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
