.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.navigation {
  &--flex {
    display: flex;
  }
}
.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 100;

    transform: translateX(-130%);
    transition: transform 250ms linear;

    background-color: var(--white-color);
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transform: translateX(0);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-logo {
  @extend %logo;
  padding: 15px 0;
  &--studio-color {
    color: var(--black-color);
  }
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }
}
.navpages {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.navpages__page {
  position: relative;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
    & + .navpages__page {
      margin-left: 50px;
    }
  }
}
.navpages__link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
    @media screen and (min-width: 768px) {
      &::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        display: block;
        width: 100%;
        height: 4px;
        bottom: -1px;

        background-color: var(--accent-color);
      }
    }
  }
}
.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 21px 0 21px 84px;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .contacts__page:first-child & {
        width: 14px;
        height: 10px;
      }
      .contacts__page:last-child & {
        width: 10px;
        height: 14px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 275px;
  }
}
.contacts__page {
  position: relative;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & + .contacts__page {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    padding: 32px 0;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    .contacts__page:last-child & {
      font-size: 34px;
      line-height: 1.17;
      padding-bottom: 32px;
      color: var(--accent-color);
    }
    .contacts__page:first-child & {
      font-size: 24px;
      line-height: 1.17;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
}
.mobile-socials__page {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:not(:last-child)::after {
    content: '';
    width: 0px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
  }
}
.mobile-socials__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
  font-weight: 500;
}
