.header {
  border-bottom: 1px solid #ececec;
}
.navigation {
  &--flex {
    display: flex;
  }
}
.header-logo {
  @extend %logo;
  padding: 15px 0;
  &--studio-color {
    color: var(--black-color);
  }
}
.navpages {
  display: flex;
  margin-left: 93px;
  align-items: center;
}
.navpages__page {
  position: relative;
  padding: 32px 0;
  & + .navpages__page {
    margin-left: 50px;
  }
}
.navpages__link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
    &::after {
      content: '';
      position: absolute;
      border-radius: 2px;
      display: block;
      width: 100%;
      height: 4px;
      bottom: -1px;

      background-color: var(--accent-color);
    }
  }
}
.contacts {
  display: flex;
  margin-left: auto;
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
.contacts__page {
  position: relative;
  padding: 32px 0;
  & + .contacts__page {
    margin-left: 50px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
