.solutions {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.solutions__piece {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    & + .solutions__piece {
      margin-left: 30px;
    }
  }
}
.solutions__placeicon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;

  $icons: 'station', 'clock', 'diagram', 'astronaut';
  @each $iconName in $icons {
    &--#{$iconName} {
      background-image: url('../../images/icons/#{$iconName}.svg');
    }
  }
}
.solutions__title {
  margin-bottom: 10px;

  font-weight: var(--weight-bold);
  text-transform: uppercase;
  font-size: inherit;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.solutions__text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}
