.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  border-radius: 4px;
  &__check-link {
    color: var(--accent-color);
    text-decoration: underline;
  }
}

.close-btn {
  @extend %icon;
  @extend %fill;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.modal__form {
  width: 100%;
  height: 100%;
  /* outline: 2px solid chartreuse; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.modal__title {
  display: inline-block;
  text-align: center;
  margin: 0 auto 12px;
  width: 100%;

  font-weight: var(--weight-bold);
  font-size: 20px;
  line-height: 1.15;
  @media screen and (max-width: 1199px) {
    line-height: 1.5;
  }
}
.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--label-color);
}
.modal__input {
  margin-top: 4px;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus,
  .modal__input:focus + .modal__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.modal__comment {
  @extend .modal__input;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
  &::placeholder {
    margin: 30px 10px;

    color: rgba(117, 117, 117, 0.5);
    @extend .modal__label;
  }
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  .modal__input:focus + & {
    @extend .modal__input:focus;
  }
}
.modal__check {
  display: flex;
  // justify-content: center;
  align-items: center;

  color: var(--label-color);
  line-height: 1.71;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__check-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 4px;
  .modal__checkbox:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icons/check1.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
.modal__btn {
  @extend .btn__first;
  display: block;
  margin: 30px auto 0;
}
