:root {
  --primary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: #f5f4fa;
  --hero-footer-bgc: #2f303a;
  --header-bgc: #ececec;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --footerlink-color: rgba(255, 255, 255, 0.6);
  --weight-bold: 700;
  --main-icon: #afb1b8;
  --label-color: #757575;
}
